<h2> Question: <%= @question.content %> </h2>

<p> Leave your comment here </p>

<%= form_tag "/questions/#{@question.id}/comments/#{@comment.id}", method: :patch do %>
  <%= render 'partials/comments' %>
<% end %>