---
http_interactions:
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_search?q=simplecov
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200504T064925Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200504/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=1d5d6aa8bc5693c82abef05c9767a7f7892a0d9d26eae94eaba1b4095aa6508e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":22,"timed_out":false,"_shards":{"total":21,"successful":21,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":0.7156682,"hits":[{"_index":"questions","_type":"_doc","_id":"2","_score":0.7156682,"_source":{"id":"2","subject":"How
        do I make SimpleCov work?","content":"I am so confused, SimpleCov is not working
        the gem is installed and it is in my test_helper, but it won''t work!! someone
        please help!"}},{"_index":"answers","_type":"_doc","_id":"2","_score":0.5922034,"_source":{"id":"2","content":"It
        seems like you forgot to put in SimpleCove.start, that is was makes it kick
        in. just put it right below your ''require ''simplecove'''' in your test_helper."}}]}}'
  recorded_at: Mon, 04 May 2020 06:49:26 GMT
recorded_with: VCR 5.1.0
