---
http_interactions:
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_cluster/stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200428T071352Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200428/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=5bcd484ca680ee980bcebf119490220cf2d30e3dd0b6edd62d691c15006752d5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_nodes":{"total":7,"successful":7,"failed":0},"cluster_name":"218497580724:kaizen","cluster_uuid":"l0iW_jwWQUiqyZh6c1VcRQ","timestamp":1588058033274,"status":"green","indices":{"count":4,"shards":{"total":10,"primaries":4,"replication":1.5,"index":{"shards":{"min":2,"max":4,"avg":2.5},"primaries":{"min":1,"max":1,"avg":1.0},"replication":{"min":1.0,"max":3.0,"avg":1.5}}},"docs":{"count":13127,"deleted":0},"store":{"size_in_bytes":13740612},"fielddata":{"memory_size_in_bytes":0,"evictions":0},"query_cache":{"memory_size_in_bytes":0,"total_count":0,"hit_count":0,"miss_count":0,"cache_size":0,"cache_count":0,"evictions":0},"completion":{"size_in_bytes":0},"segments":{"count":29,"memory_in_bytes":166738,"terms_memory_in_bytes":111251,"stored_fields_memory_in_bytes":10848,"term_vectors_memory_in_bytes":0,"norms_memory_in_bytes":4224,"points_memory_in_bytes":1731,"doc_values_memory_in_bytes":38684,"index_writer_memory_in_bytes":0,"version_map_memory_in_bytes":0,"fixed_bit_set_memory_in_bytes":432,"max_unsafe_auto_id_timestamp":-1,"file_sizes":{}}},"nodes":{"count":{"total":7,"coordinating_only":0,"data":4,"ingest":4,"master":3},"versions":["7.4.2"],"os":{"available_processors":14,"allocated_processors":14,"names":[{"count":7}],"pretty_names":[{"count":7}],"mem":{"total_in_bytes":115582222336,"free_in_bytes":8380059648,"used_in_bytes":107202162688,"free_percent":7,"used_percent":93}},"process":{"cpu":{"percent":0},"open_file_descriptors":{"min":1445,"max":1555,"avg":1490}},"jvm":{"max_uptime_in_millis":37871564,"mem":{"heap_used_in_bytes":2392023944,"heap_max_in_bytes":66449965056},"threads":968},"fs":{"total_in_bytes":64452354048,"free_in_bytes":56948072448,"available_in_bytes":56830631936},"network_types":{"transport_types":{"com.amazon.opendistroforelasticsearch.security.ssl.http.netty.OpenDistroSecuritySSLNettyTransport":7},"http_types":{"filter-jetty":7}},"discovery_types":{"zen":7},"packaging_types":[{"flavor":"oss","type":"tar","count":7}]}}'
  recorded_at: Tue, 28 Apr 2020 07:13:53 GMT
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_search?q=flight
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200428T180311Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200428/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=306f287b3a916320ffd7ebd1c77714fee68e03c6c0dd68b8612518f6d5414dff
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":111,"timed_out":false,"_shards":{"total":4,"successful":4,"skipped":0,"failed":0},"hits":{"total":{"value":10,"relation":"eq"},"max_score":1.6199708,"hits":[{"_index":".kibana_-1154271068_jordan","_type":"_doc","_id":"visualization:c8fc3d30-4c87-11e8-b3d7-01146121b73d","_score":1.6199708,"_source":{"visualization":{"title":"[Flights]
        Flight Count and Average Ticket Price","visState":"{\"title\":\"[Flights]
        Flight Count and Average Ticket Price\",\"type\":\"area\",\"params\":{\"type\":\"area\",\"grid\":{\"categoryLines\":false,\"style\":{\"color\":\"#eee\"}},\"categoryAxes\":[{\"id\":\"CategoryAxis-1\",\"type\":\"category\",\"position\":\"bottom\",\"show\":true,\"style\":{},\"scale\":{\"type\":\"linear\"},\"labels\":{\"show\":true,\"truncate\":100},\"title\":{}}],\"valueAxes\":[{\"id\":\"ValueAxis-1\",\"name\":\"LeftAxis-1\",\"type\":\"value\",\"position\":\"left\",\"show\":true,\"style\":{},\"scale\":{\"type\":\"linear\",\"mode\":\"normal\"},\"labels\":{\"show\":true,\"rotate\":0,\"filter\":false,\"truncate\":100},\"title\":{\"text\":\"Average
        Ticket Price\"}},{\"id\":\"ValueAxis-2\",\"name\":\"RightAxis-1\",\"type\":\"value\",\"position\":\"right\",\"show\":true,\"style\":{},\"scale\":{\"type\":\"linear\",\"mode\":\"normal\"},\"labels\":{\"show\":true,\"rotate\":0,\"filter\":false,\"truncate\":100},\"title\":{\"text\":\"Flight
        Count\"}}],\"seriesParams\":[{\"show\":true,\"mode\":\"stacked\",\"type\":\"area\",\"drawLinesBetweenPoints\":true,\"showCircles\":false,\"interpolate\":\"linear\",\"lineWidth\":2,\"data\":{\"id\":\"5\",\"label\":\"Flight
        Count\"},\"valueAxis\":\"ValueAxis-2\"},{\"show\":true,\"mode\":\"stacked\",\"type\":\"line\",\"drawLinesBetweenPoints\":false,\"showCircles\":true,\"interpolate\":\"linear\",\"data\":{\"id\":\"4\",\"label\":\"Average
        Ticket Price\"},\"valueAxis\":\"ValueAxis-1\",\"lineWidth\":2}],\"addTooltip\":true,\"addLegend\":true,\"legendPosition\":\"right\",\"times\":[],\"addTimeMarker\":false,\"radiusRatio\":13},\"aggs\":[{\"id\":\"3\",\"enabled\":true,\"type\":\"date_histogram\",\"schema\":\"segment\",\"params\":{\"field\":\"timestamp\",\"interval\":\"auto\",\"min_doc_count\":1,\"extended_bounds\":{}}},{\"id\":\"5\",\"enabled\":true,\"type\":\"count\",\"schema\":\"metric\",\"params\":{\"customLabel\":\"Flight
        Count\"}},{\"id\":\"4\",\"enabled\":true,\"type\":\"avg\",\"schema\":\"metric\",\"params\":{\"field\":\"AvgTicketPrice\",\"customLabel\":\"Average
        Ticket Price\"}},{\"id\":\"2\",\"enabled\":true,\"type\":\"avg\",\"schema\":\"radius\",\"params\":{\"field\":\"AvgTicketPrice\"}}]}","uiStateJSON":"{\"vis\":{\"legendOpen\":true,\"colors\":{\"Average
        Ticket Price\":\"#629E51\",\"Flight Count\":\"#AEA2E0\"}}}","description":"","version":1,"kibanaSavedObjectMeta":{"searchSourceJSON":"{\"filter\":[],\"query\":{\"query\":\"\",\"language\":\"kuery\"},\"indexRefName\":\"kibanaSavedObjectMeta.searchSourceJSON.index\"}"}},"type":"visualization","references":[{"name":"kibanaSavedObjectMeta.searchSourceJSON.index","type":"index-pattern","id":"d3d7af60-4c81-11e8-b3d7-01146121b73d"}],"migrationVersion":{"visualization":"7.4.2"},"updated_at":"2020-04-28T01:01:24.234Z"}},{"_index":".kibana_-1154271068_jordan","_type":"_doc","_id":"visualization:76e3c090-4c8c-11e8-b3d7-01146121b73d","_score":1.3001854,"_source":{"visualization":{"title":"[Flights]
        Flight Delays","visState":"{\"title\":\"[Flights] Flight Delays\",\"type\":\"histogram\",\"params\":{\"type\":\"histogram\",\"grid\":{\"categoryLines\":false,\"style\":{\"color\":\"#eee\"}},\"categoryAxes\":[{\"id\":\"CategoryAxis-1\",\"type\":\"category\",\"position\":\"left\",\"show\":true,\"style\":{},\"scale\":{\"type\":\"linear\"},\"labels\":{\"show\":true,\"truncate\":100},\"title\":{}}],\"valueAxes\":[{\"id\":\"ValueAxis-1\",\"name\":\"BottomAxis-1\",\"type\":\"value\",\"position\":\"bottom\",\"show\":true,\"style\":{},\"scale\":{\"type\":\"linear\",\"mode\":\"normal\"},\"labels\":{\"show\":true,\"rotate\":0,\"filter\":false,\"truncate\":100},\"title\":{\"text\":\"Count\"}}],\"seriesParams\":[{\"show\":\"true\",\"type\":\"histogram\",\"mode\":\"stacked\",\"data\":{\"label\":\"Count\",\"id\":\"1\"},\"valueAxis\":\"ValueAxis-1\",\"drawLinesBetweenPoints\":true,\"showCircles\":true}],\"addTooltip\":true,\"addLegend\":true,\"legendPosition\":\"right\",\"times\":[],\"addTimeMarker\":false},\"aggs\":[{\"id\":\"1\",\"enabled\":true,\"type\":\"count\",\"schema\":\"metric\",\"params\":{\"customLabel\":\"\"}},{\"id\":\"2\",\"enabled\":true,\"type\":\"terms\",\"schema\":\"segment\",\"params\":{\"field\":\"FlightDelay\",\"size\":5,\"order\":\"desc\",\"orderBy\":\"1\",\"otherBucket\":false,\"otherBucketLabel\":\"Other\",\"missingBucket\":false,\"missingBucketLabel\":\"Missing\",\"customLabel\":\"Flight
        Delays\"}}]}","uiStateJSON":"{}","description":"","version":1,"kibanaSavedObjectMeta":{"searchSourceJSON":"{\"filter\":[],\"query\":{\"query\":\"\",\"language\":\"kuery\"},\"indexRefName\":\"kibanaSavedObjectMeta.searchSourceJSON.index\"}"}},"type":"visualization","references":[{"name":"kibanaSavedObjectMeta.searchSourceJSON.index","type":"index-pattern","id":"d3d7af60-4c81-11e8-b3d7-01146121b73d"}],"migrationVersion":{"visualization":"7.4.2"},"update[...]
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_search?q=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200428T210757Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200428/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=6c2409a176118298214d3182f004ee6f8f531e53ad276f3560d917307827a1e0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":20,"timed_out":false,"_shards":{"total":4,"successful":4,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
  recorded_at: Tue, 28 Apr 2020 21:07:58 GMT
- request:
    method: post
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_search
    body:
      encoding: UTF-8
      string: '{"size":20,"query":{"multi_match":{"query":"flight","fields":["subject","content"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20200428T230327Z
      X-Amz-Content-Sha256:
      - 23b16b3dbe520037bd9422601abe6f88ff8d47d20f3d5e0947ff4868634e1808
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200428/us-west-2/es/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=0094ba19658fba8fffbc60dc7283996ae311e6c48cd93ed69077b96d3027c321
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":15,"timed_out":false,"_shards":{"total":4,"successful":4,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
  recorded_at: Tue, 28 Apr 2020 23:03:28 GMT
[...]
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_search?flight
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200428T232833Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200428/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=91bb506d32f796a6450e24ff9134bacf311b793210a546a50bc15436a1a713d1
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"request
        [/_search] contains unrecognized parameter: [flight]"}],"type":"illegal_argument_exception","reason":"request
        [/_search] contains unrecognized parameter: [flight]"},"status":400}'
  recorded_at: Tue, 28 Apr 2020 23:28:33 GMT
- request:
    method: post
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/.kibana_-1154271068_jordan/_search
    body:
      encoding: UTF-8
      string: '{"size":20,"query":{"multi_match":{"query":"flight","fields":["title","visState"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20200428T233859Z
      X-Amz-Content-Sha256:
      - 1842ccf86da0a7a07debc5cacf8d134e226564f027a4949ef80e22e513702406
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200428/us-west-2/es/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=164caeb4bfac2d84dfaac6764cffc2da775878f423c77579725f92fca512ccb9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
  recorded_at: Tue, 28 Apr 2020 23:39:00 GMT
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_search?q=flight%20price
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200428T234214Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200428/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-[...]
[...]
- request:
    method: post
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_search?routing=type
    body:
      encoding: UTF-8
      string: '{"size":20,"query":{"multi_match":{"query":"flight","fields":["title","visState"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20200429T045918Z
      X-Amz-Content-Sha256:
      - 1842ccf86da0a7a07debc5cacf8d134e226564f027a4949ef80e22e513702406
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200429/us-west-2/es/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=2fe9c9e881540bf6953ec967b6e6886f3a7373e7dc05c9a98824af58045aab28
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":8,"timed_out":false,"_shards":{"total":4,"successful":4,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
  recorded_at: Wed, 29 Apr 2020 04:59:19 GMT
recorded_with: VCR 5.1.0
