---
http_interactions:
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_search?q=venice
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200429T072822Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200429/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=f6bd085f5ac9c50c42c29ba850b3735257185d38789635a7cdf9ef79d97f35b6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":16,"timed_out":false,"_shards":{"total":4,"successful":4,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
  recorded_at: Wed, 29 Apr 2020 07:28:22 GMT
[...]
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200429T072955Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200429/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=dbb0bae93a3e8d2e2fd355bc86842f2b896a6824b03be7a046920d1dcd8c37b3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":19,"timed_out":false,"_shards":{"total":4,"successful":4,"skipped":0,"failed":0},"hits":{"total":{"value":10000,"relation":"gte"},"max_score":1.0,"hits":[{"_index":".kibana_-1154271068_jordan","_type":"_doc","_id":"visualization:aeb212e0-4c84-11e8-b3d7-01146121b73d","_score":1.0,"_source":{"visualization":{"title":"[Flights]
        Controls","visState":"{\"title\":\"[Flights] Controls\",\"type\":\"input_control_vis\",\"params\":{\"controls\":[{\"id\":\"1525098134264\",\"fieldName\":\"OriginCityName\",\"parent\":\"\",\"label\":\"Origin
        City\",\"type\":\"list\",\"options\":{\"type\":\"terms\",\"multiselect\":true,\"size\":100,\"order\":\"desc\"},\"indexPatternRefName\":\"control_0_index_pattern\"},{\"id\":\"1525099277699\",\"fieldName\":\"DestCityName\",\"parent\":\"1525098134264\",\"label\":\"Destination
        City\",\"type\":\"list\",\"options\":{\"type\":\"terms\",\"multiselect\":true,\"size\":100,\"order\":\"desc\"},\"indexPatternRefName\":\"control_1_index_pattern\"},{\"id\":\"1525099307278\",\"fieldName\":\"AvgTicketPrice\",\"parent\":\"\",\"label\":\"Average
        Ticket Price\",\"type\":\"range\",\"options\":{\"decimalPlaces\":0,\"step\":10},\"indexPatternRefName\":\"control_2_index_pattern\"}],\"updateFiltersOnChange\":false,\"useTimeFilter\":true,\"pinFilters\":false},\"aggs\":[]}","uiStateJSON":"{}","description":"","version":1,"kibanaSavedObjectMeta":{"searchSourceJSON":"{}"}},"type":"visualization","references":[{"name":"control_0_index_pattern","type":"index-pattern","id":"d3d7af60-4c81-11e8-b3d7-01146121b73d"},{"name":"control_1_index_pattern","type":"index-pattern","id":"d3d7af60-4c81-11e8-b3d7-01146121b73d"},{"name":"control_2_index_pattern","type":"index-pattern","id":"d3d7af60-4c81-11e8-b3d7-01146121b73d"}],"migrationVersion":{"visualization":"7.4.2"},"updated_at":"2020-04-28T01:01:24.234Z"}},{"_index":".kibana_-1154271068_jordan","_type":"_doc","_id":"visualization:c8fc3d30-4c87-11e8-b3d7-01146121b73d","_score":1.0,"_source":{"visualization":{"title":"[Flights]
        Flight Count and Average Ticket Price","visState":"{\"title\":\"[Flights]
        Flight Count and Average Ticket Price\",\"type\":\"area\",\"params\":{\"type\":\"area\",\"grid\":{\"categoryLines\":false,\"style\":{\"color\":\"#eee\"}},\"categoryAxes\":[{\"id\":\"CategoryAxis-1\",\"type\":\"category\",\"position\":\"bottom\",\"show\":true,\"style\":{},\"scale\":{\"type\":\"linear\"},\"labels\":{\"show\":true,\"truncate\":100},\"title\":{}}],\"valueAxes\":[{\"id\":\"ValueAxis-1\",\"name\":\"LeftAxis-1\",\"type\":\"value\",\"position\":\"left\",\"show\":true,\"style\":{},\"scale\":{\"type\":\"linear\",\"mode\":\"normal\"},\"labels\":{\"show\":true,\"rotate\":0,\"filter\":false,\"truncate\":100},\"title\":{\"text\":\"Average
        Ticket Price\"}},{\"id\":\"ValueAxis-2\",\"name\":\"RightAxis-1\",\"type\":\"value\",\"position\":\"right\",\"show\":true,\"style\":{},\"scale\":{\"type\":\"linear\",\"mode\":\"normal\"},\"labels\":{\"show\":true,\"rotate\":0,\"filter\":false,\"truncate\":100},\"title\":{\"text\":\"Flight
        Count\"}}],\"seriesParams\":[{\"show\":true,\"mode\":\"stacked\",\"type\":\"area\",\"drawLinesBetweenPoints\":true,\"showCircles\":false,\"interpolate\":\"linear\",\"lineWidth\":2,\"data\":{\"id\":\"5\",\"label\":\"Flight
        Count\"},\"valueAxis\":\"ValueAxis-2\"},{\"show\":true,\"mode\":\"stacked\",\"type\":\"line\",\"drawLinesBetweenPoints\":false,\"showCircles\":true,\"interpolate\":\"linear\",\"data\":{\"id\":\"4\",\"label\":\"Average
        Ticket Price\"},\"valueAxis\":\"ValueAxis-1\",\"lineWidth\":2}],\"addTooltip\":true,\"addLegend\":true,\"legendPosition\":\"right\",\"times\":[],\"addTimeMarker\":false,\"radiusRatio\":13},\"aggs\":[{\"id\":\"3\",\"enabled\":true,\"type\":\"date_histogram\",\"schema\":\"segment\",\"params\":{\"field\":\"timestamp\",\"interval\":\"auto\",\"min_doc_count\":1,\"extended_bounds\":{}}},{\"id\":\"5\",\"enabled\":true,\"type\":\"count\",\"schema\":\"metric\",\"params\":{\"customLabel\":\"Flight
        Count\"}},{\"id\":\"4\",\"enabled\":true,\"type\":\"avg\",\"schema\":\"metric\",\"params\":{\"field\":\"AvgTicketPrice\",\"customLabel\":\"Average
        Ticket Price\"}},{\"id\":\"2\",\"enabled\":true,\"type\":\"avg\",\"schema\":\"radius\",\"params\":{\"field\":\"AvgTicketPrice\"}}]}","uiStateJSON":"{\"vis\":{\"legendOpen\":true,\"colors\":{\"Average
        Ticket Price\":\"#629E51\",\"Flight Count\":\"#AEA2E0\"}}}","description":"","version":1,"kibanaSavedObjectMeta":{"searchSourceJSON":"{\"filter\":[],\"query\":{\"query\":\"\",\"language\":\"kuery\"},\"indexRefName\":\"kibanaSavedObjectMeta.searchSourceJSON.index\"}"}},"type":"visualization","references":[{"name":"kibanaSavedObjectMeta.searchSourceJSON.index","type":"index-pattern","id":"d3d7af60-4c81-11e8-b3d7-01146121b73d"}],"migrationVersion":{"visualization":"7.4.2"},"updated_at":"2020-04-28T01:01:24.234Z"}},{"_index":".kibana_-1154271068_jordan","_type":"_doc","_id":"search:571aaf70-4c88-11e8-b3d7-01146121b73d","_score":1.0,"_source":{"search":{"title":"[Flights]
        Flight Log","description":"","hits":0,"columns":["Carrier","OriginCityName","OriginCountry","DestCityName","DestCountry","FlightTimeMin","AvgTicketPrice","Cancelled","FlightDelayType"],"sort":[["timestamp","desc"]],"version":1,"kibanaSavedObjectMeta":{"searchSourceJSON":"{\"highlightAll\":true,\"version\":true,\"query\":{\"language\":\"kuery\",\"query\":\"\"},\"filter\":[],\"indexRefName\":\"kibanaSavedObjectMeta.searchSourceJSON.index\"}"}},"type":"search","references":[{"name":"kibanaSavedObjectMeta.searchSourceJSON.index","type":"index-pattern","id":"d3d7af60-4c81-11e8-b3d7-01146121b73d"}],"migrationVersion":{"search":"7.4.0"},"updated_at":"2020-04-28T01:01:24.234Z"}},{"_index":".kibana_-1154271068_jordan","_type":"_doc","_id":"visualization:8f4d0c00-4c86-11e8-b3d7-01146121b73d","_score":1.0,"_source":{"visualization":{"title":"[Flights]
        Airline Carrier","visState":"{\"title\":\"[Flights] Airline Carrier\",\"type\":\"pie\",\"params\":{\"type\":\"pie\",\"addTooltip\":true,\"addLegend\":true,\"legendPosition\":\"right\",\"isDonut\":true,\"labels\":{\"show\":true,\"values\":true,\"last_level\":true,\"truncate\":100}},\"aggs\":[{\"id\":\"1\",\"enabled\":true,\"type\":\"count\",\"schema\":\"metric\",\"params\":{}},{\"id\":\"2\",\"enabled\":true,\"type\":\"terms\",\"schema\":\"segment\",\"params\":{\"field\":\"Carrier\",\"size\":5,\"order\":\"desc\",\"orderBy\":\"1\",\"otherBucket\":false,\"otherBucketLabel\":\"Other\",\"missingBucket\":false,\"missingBucketLabel\":\"Missing\"}}]}","uiStateJSON":"{\"vis\":{\"legendOpen\":false}}","description":"","version":1,"kibanaSavedObjectMeta":{"searchSourceJSON":"{\"filter\":[],\"query\":{\"query\":\"\",\"language\":\"kuery\"},\"indexRefName\":\"kibanaSavedObjectMeta.searchSourceJSON.index\"}"}},"type":"visualization","references":[{"name":"kibanaSavedObjectMeta.searchSourceJSON.index","type":"index-pattern","id":"d3d7af60-4c81-11e8-b3d7-01146121b73d"}],"migrationVersion":{"visualization":"7.4.2"},"updated_at":"2020-[...]
[...]
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_search?q=flight
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200429T073042Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200429/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-cont[...]
[...]
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/kibana_sample_data_flights/_search?q=venice
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200429T073200Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200429/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=7f3209ba5fdf5c4ec5885286c58fd998a24db27326c50f517a1315446c41692d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":4,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
  recorded_at: Wed, 29 Apr 2020 07:32:00 GMT
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/kibana_sample_data_flights/_explain
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200429T073306Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200429/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=2b5bcc04d963c2f662c3f56fb32750efc3f1976039078b53c11e1d738a78cbba
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"Incorrect HTTP method for uri [/kibana_sample_data_flights/_explain]
        and method [GET], allowed: [POST]","status":405}'
  recorded_at: Wed, 29 Apr 2020 07:33:06 GMT
- request:
    method: post
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/kibana_sample_data_flights/_explain
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Amz-Date:
      - 20200429T073352Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200429/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=f047fe69662c8bd3ec4b04440a15074e9896681fcf553826d70d7ca6742f0d7b
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"root_cause":[{"type":"parse_exception","reason":"request
        body is required"}],"type":"parse_exception","reason":"request body is required"},"status":400}'
  recorded_at: Wed, 29 Apr 2020 07:33:53 GMT
- request:
    method: post
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/kibana_sample_data_flights/_search
    body:
      encoding: UTF-8
      string: '{"size":20,"query":{"multi_match":{"query":"kibana","fields":["Carrier","OriginCityName","DestCityName"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20200429T073504Z
      X-Amz-Content-Sha256:
      - 4a6259fa4fe5d39c3a8b3d2131a320dd58b8b097b007a618ac84e6542741f373
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200429/us-west-2/es/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=e4084a28f770f74ce6b4b712ff90b2382c5cb8e4229e444bc3f86adf84bbae1f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
  recorded_at: Wed, 29 Apr 2020 07:35:04 GMT
[...]
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_cat/indices?v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200429T200944Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200429/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=9dd9ce0147e3ab49c57cddc3af61504f952b4e6e97c94bce39416933b35474b2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        health status index                      uuid                   pri rep docs.count docs.deleted store.size pri.store.size
        green  open   .kibana_-1154271068_jordan h-xP5cJeSOm3tXpBcI6NJA   1   1         59            0    107.7kb         53.8kb
        green  open   kibana_sample_data_flights Em5XUFIVQSO5Zn8p9bFHeA   1   1      13059            0     12.8mb          6.4mb
        green  open   .kibana_1                  A25KReOOSGqARCKcjkOdvg   1   1          3            0     22.6kb          7.3kb
        green  open   .opendistro_security       ZrBmgdjgSnqZGOkWd4J51Q   1   3          6            0    112.2kb           28kb
  recorded_at: Wed, 29 Apr 2020 20:09:44 GMT
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_search?q=kibana
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200429T201503Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200429/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=3b807de9d831a53dbcacc4c4c342d1edb2c0bc799d3bcc127fbceb7b3ebd66df
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":21,"timed_out":false,"_shards":{"total":4,"successful":4,"skipped":0,"failed":0},"hits":{"total":{"value":4,"relation":"eq"},"max_score":2.7135832,"hits":[{"_index":".kibana_-1154271068_jordan","_type":"_doc","_id":"visualization:129be430-4c93-11e8-b3d7-01146121b73d","_score":2.7135832,"_source":{"visualization":{"title":"[Flights]
        Markdown Instructions","visState":"{\"title\":\"[Flights] Markdown Instructions\",\"type\":\"markdown\",\"params\":{\"fontSize\":10,\"openLinksInNewTab\":true,\"markdown\":\"###
        Sample Flight data\\nThis dashboard contains sample data for you to play with.
        You can view it, search it, and interact with the visualizations. For more
        information about Kibana, check our [docs](https://www.elastic.co/guide/en/kibana/current/index.html).\"},\"aggs\":[]}","uiStateJSON":"{}","description":"","version":1,"kibanaSavedObjectMeta":{"searchSourceJSON":"{}"}},"type":"visualization","references":[],"migrationVersion":{"visualization":"7.4.2"},"updated_at":"2020-04-28T01:01:24.234Z"}},{"_index":".kibana_-1154271068_jordan","_type":"_doc","_id":"visualization:334084f0-52fd-11e8-a160-89cc2ad9e8e2","_score":1.7557125,"_source":{"visualization":{"title":"[Flights]
        Origin Country Ticket Prices","visState":"{\"title\":\"[Flights] Origin Country
        Ticket Prices\",\"type\":\"region_map\",\"params\":{\"legendPosition\":\"bottomright\",\"addTooltip\":true,\"colorSchema\":\"Blues\",\"selectedLayer\":{\"attribution\":\"<p><a
        href=\\\"http://www.naturalearthdata.com/about/terms-of-use\\\">Made with
        NaturalEarth</a> | <a href=\\\"https://www.elastic.co/elastic-maps-service\\\">Elastic
        Maps Service</a></p>&#10;\",\"name\":\"World Countries\",\"weight\":1,\"format\":{\"type\":\"geojson\"},\"url\":\"https://vector.maps.elastic.co/blob/5659313586569216?elastic_tile_service_tos=agree&my_app_version=6.3.0&license=686f9ec6-d775-44f0-b334-38caf85da617\",\"fields\":[{\"name\":\"iso2\",\"description\":\"Two
        letter abbreviation\"},{\"name\":\"name\",\"description\":\"Country name\"},{\"name\":\"iso3\",\"description\":\"Three
        letter abbreviation\"}],\"created_at\":\"2017-04-26T17:12:15.978370\",\"tags\":[],\"id\":5659313586569216,\"layerId\":\"elastic_maps_service.World
        Countries\"},\"selectedJoinField\":{\"name\":\"iso2\",\"description\":\"Two
        letter abbreviation\"},\"isDisplayWarning\":false,\"wms\":{\"enabled\":false,\"options\":{\"format\":\"image/png\",\"transparent\":true},\"baseLayersAreLoaded\":{},\"tmsLayers\":[{\"id\":\"road_map\",\"url\":\"https://tiles.maps.elastic.co/v2/default/{z}/{x}/{y}.png?elastic_tile_service_tos=agree&my_app_name=kibana&my_app_version=6.3.0&license=686f9ec6-d775-44f0-b334-38caf85da617\",\"minZoom\":0,\"maxZoom\":18,\"attribution\":\"<p>&#169;
        <a href=\\\"http://www.openstreetmap.org/copyright\\\">OpenStreetMap</a> contributors
        | <a href=\\\"https://www.elastic.co/elastic-maps-service\\\">Elastic Maps
        Service</a></p>&#10;\",\"subdomains\":[]}],\"selectedTmsLayer\":{\"id\":\"road_map\",\"url\":\"https://tiles.maps.elastic.co/v2/default/{z}/{x}/{y}.png?elastic_tile_service_tos=agree&my_app_name=kibana&my_app_version=6.3.0&license=686f9ec6-d775-44f0-b334-38caf85da617\",\"minZoom\":0,\"maxZoom\":18,\"attribution\":\"<p>&#169;
        <a href=\\\"http://www.openstreetmap.org/copyright\\\">OpenStreetMap</a> contributors
        | <a href=\\\"https://www.elastic.co/elastic-maps-service\\\">Elastic Maps
        Service</a></p>&#10;\",\"subdomains\":[]}},\"mapZoom\":2,\"mapCenter\":[0,0],\"outlineWeight\":1,\"showAllShapes\":true},\"aggs\":[{\"id\":\"1\",\"enabled\":true,\"type\":\"avg\",\"schema\":\"metric\",\"params\":{\"field\":\"AvgTicketPrice\"}},{\"id\":\"2\",\"enabled\":true,\"type\":\"terms\",\"schema\":\"segment\",\"params\":{\"field\":\"OriginCountry\",\"size\":100,\"order\":\"desc\",\"orderBy\":\"1\",\"otherBucket\":false,\"otherBucketLabel\":\"Other\",\"missingBucket\":false,\"missingBucketLabel\":\"Missing\"}}]}","uiStateJSON":"{}","description":"","version":1,"kibanaSavedObjectMeta":{"searchSourceJSON":"{\"filter\":[],\"query\":{\"query\":\"\",\"language\":\"kuery\"},\"indexRefName\":\"kibanaSavedObjectMeta.searchSourceJSON.index\"}"}},"type":"visualization","references":[{"name":"kibanaSavedObjectMeta.searchSourceJSON.index","type":"index-pattern","id":"d3d7af60-4c81-11e8-b3d7-01146121b73d"}],"migrationVersion":{"visualization":"7.4.2"},"updated_at":"2020-04-28T01:01:24.234Z"}},{"_index":".kibana_-1154271068_jordan","_type":"_doc","_id":"visualization:ed78a660-53a0-11e8-acbd-0be0ad9d822b","_score":0.8812898,"_source":{"visualization":{"title":"[Flights]
        Airport Connections (Hover Over Airport)","visState":"{\"aggs\":[],\"params\":{\"spec\":\"{\\n  $schema:
        https://vega.github.io/schema/vega/v3.0.json\\n  config: {\\n    kibana: {type:
        \\\"map\\\", latitude: 25, longitude: -70, zoom: 3}\\n  }\\n  data: [\\n    {\\n      name:
        table\\n      url: {\\n        index: kibana_sample_data_flights\\n        %context%:
        true\\n        // Uncomment to enable time filtering\\n        // %timefield%:
        timestamp\\n        body: {\\n          size: 0\\n          aggs: {\\n            origins:
        {\\n              terms: {field: \\\"O[...]
