---
http_interactions:
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_cat/indices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200504T031256Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200504/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=1c3050f3aef4cc5e13266ca307d1d2ba21a671716b165b734eadefa2e89747e7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        green open .kibana_-1154271068_jordan_2 kVZ5OEPgR9qsz0Xb5S9YEg 1 1    59 0   102kb  51kb
        green open .kibana_-1154271068_jordan_1 f5r2FP7sQXC2q_VuuQHGLw 1 1    59 0   102kb  51kb
        green open test_index                   bebVRBq8R3youj1ZZtCrWw 5 1     1 0   9.4kb 4.7kb
        green open kibana_sample_data_flights   Em5XUFIVQSO5Zn8p9bFHeA 1 1 13059 0  12.8mb 6.4mb
        green open .opendistro_security         ZrBmgdjgSnqZGOkWd4J51Q 1 3     6 0 112.2kb  28kb
        green open .kibana_1                    A25KReOOSGqARCKcjkOdvg 1 1     3 0  14.6kb 7.3kb
        green open .tasks                       c340pamCQBid8_yn0UHUyw 1 1     1 0  12.9kb 6.4kb
  recorded_at: Mon, 04 May 2020 03:12:56 GMT
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_search?q=Venice
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200504T031323Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200504/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=5f2ebd4462b6d769210fc0b463dce4c544cc23f0ee0bf22035786b77edf85c05
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":129,"timed_out":false,"_shards":{"total":11,"successful":11,"skipped":0,"failed":0},"hits":{"total":{"value":456,"relation":"eq"},"max_score":4.5983024,"hits":[{"_index":"kibana_sample_data_flights","_type":"_doc","_id":"ZCdNvnEBopXhqstgZuuu","_score":4.5983024,"_source":{"FlightNum":"UFK2WIZ","DestCountry":"IT","OriginWeather":"Rain","OriginCityName":"Venice","AvgTicketPrice":190.6369038508356,"DistanceMiles":0,"FlightDelay":false,"DestWeather":"Cloudy","Dest":"Venice
        Marco Polo Airport","FlightDelayType":"No Delay","OriginCountry":"IT","dayOfWeek":0,"DistanceKilometers":0,"timestamp":"2020-04-20T17:11:14","DestLocation":{"lat":"45.505299","lon":"12.3519"},"DestAirportID":"VE05","Carrier":"Logstash
        Airways","Cancelled":false,"FlightTimeMin":0,"Origin":"Venice Marco Polo Airport","OriginLocation":{"lat":"45.505299","lon":"12.3519"},"DestRegion":"IT-34","OriginAirportID":"VE05","OriginRegion":"IT-34","DestCityName":"Venice","FlightTimeHour":0,"FlightDelayMin":0}},{"_index":"kibana_sample_data_flights","_type":"_doc","_id":"bSdNvnEBopXhqstgZuuu","_score":4.5983024,"_source":{"FlightNum":"V30ITD0","DestCountry":"AT","OriginWeather":"Rain","OriginCityName":"Venice","AvgTicketPrice":704.4637710312036,"DistanceMiles":268.99172653633303,"FlightDelay":false,"DestWeather":"Cloudy","Dest":"Vienna
        International Airport","FlightDelayType":"No Delay","OriginCountry":"IT","dayOfWeek":0,"DistanceKilometers":432.90022115088834,"timestamp":"2020-04-20T11:52:[...]
- request:
    method: put
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/questions
    body:
      encoding: UTF-8
      string: '{"mappings":{"properties":{"id":{"type":"keyword"},"subject":{"type":"text","analyzer":"english"},"content":{"type":"text","analyzer":"english"}}}}'
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20200504T031817Z
      X-Amz-Content-Sha256:
      - ee869a3aec558405b3058ff4c6294af6d8659166c61f4526eb04672546b7a095
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200504/us-west-2/es/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=0f03c7bca1fb8d7d87175e6241eab68d7c5b7894fb5870d0e7ffa0c246d73cbf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"acknowledged":true,"shards_acknowledged":true,"index":"questions"}'
  recorded_at: Mon, 04 May 2020 03:18:18 GMT
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/questions/_mappings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200504T031937Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200504/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=ed7b3f30ce9484ba16c7ff32d9754067699b9768829060e4577ab69b39231683
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"questions":{"mappings":{"properties":{"content":{"type":"text","analyzer":"english"},"id":{"type":"keyword"},"subject":{"type":"text","analyzer":"english"}}}}}'
  recorded_at: Mon, 04 May 2020 03:19:38 GMT
- request:
    method: put
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/answers
    body:
      encoding: UTF-8
      string: '{"mappings":{"properties":{"id":{"type":"keyword"},"content":{"type":"text","analyzer":"english"}}}}'
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20200504T032310Z
      X-Amz-Content-Sha256:
      - f4d8357214a43406e3f035f98684924a1c0c18cf71314298252993b5eed8f941
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200504/us-west-2/es/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=8d1ed828967b6dd719f90b4b7068cbdfd37773d58a1100d1dbb65a14c71c5a1b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"acknowledged":true,"shards_acknowledged":true,"index":"answers"}'
  recorded_at: Mon, 04 May 2020 03:23:10 GMT
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/answers/_mappings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200504T032322Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200504/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=c1bbb00342750d6e7272f943c7e03a2ea3fc588da01523744c43db7dd7c85ffe
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"answers":{"mappings":{"properties":{"content":{"type":"text","analyzer":"english"},"id":{"type":"keyword"}}}}}'
  recorded_at: Mon, 04 May 2020 03:23:22 GMT
recorded_with: VCR 5.1.0
