---
http_interactions:
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_cluster/stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200428T071352Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200428/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=5bcd484ca680ee980bcebf119490220cf2d30e3dd0b6edd62d691c15006752d5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_nodes":{"total":7,"successful":7,"failed":0},"cluster_name":"218497580724:kaizen","cluster_uuid":"l0iW_jwWQUiqyZh6c1VcRQ","timestamp":1588058033274,"status":"green","indices":{"count":4,"shards":{"total":10,"primaries":4,"replication":1.5,"index":{"shards":{"min":2,"max":4,"avg":2.5},"primaries":{"min":1,"max":1,"avg":1.0},"replication":{"min":1.0,"max":3.0,"avg":1.5}}},"docs":{"count":13127,"deleted":0},"store":{"size_in_bytes":13740612},"fielddata":{"memory_size_in_bytes":0,"evictions":0},"query_cache":{"memory_size_in_bytes":0,"total_count":0,"hit_count":0,"miss_count":0,"cache_size":0,"cache_count":0,"evictions":0},"completion":{"size_in_bytes":0},"segments":{"count":29,"memory_in_bytes":166738,"terms_memory_in_bytes":111251,"stored_fields_memory_in_bytes":10848,"term_vectors_memory_in_bytes":0,"norms_memory_in_bytes":4224,"points_memory_in_bytes":1731,"doc_values_memory_in_bytes":38684,"index_writer_memory_in_bytes":0,"version_map_memory_in_bytes":0,"fixed_bit_set_memory_in_bytes":432,"max_unsafe_auto_id_timestamp":-1,"file_sizes":{}}},"nodes":{"count":{"total":7,"coordinating_only":0,"data":4,"ingest":4,"master":3},"versions":["7.4.2"],"os":{"available_processors":14,"allocated_processors":14,"names":[{"count":7}],"pretty_names":[{"count":7}],"mem":{"total_in_bytes":115582222336,"free_in_bytes":8380059648,"used_in_bytes":107202162688,"free_percent":7,"used_percent":93}},"process":{"cpu":{"percent":0},"open_file_descriptors":{"min":1445,"max":1555,"avg":1490}},"jvm":{"max_uptime_in_millis":37871564,"mem":{"heap_used_in_bytes":2392023944,"heap_max_in_bytes":66449965056},"threads":968},"fs":{"total_in_bytes":64452354048,"free_in_bytes":56948072448,"available_in_bytes":56830631936},"network_types":{"transport_types":{"com.amazon.opendistroforelasticsearch.security.ssl.http.netty.OpenDistroSecuritySSLNettyTransport":7},"http_types":{"filter-jetty":7}},"discovery_types":{"zen":7},"packaging_types":[{"flavor":"oss","type":"tar","count":7}]}}'
  recorded_at: Tue, 28 Apr 2020 07:13:53 GMT
recorded_with: VCR 5.1.0
