---
http_interactions:
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_cluster/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200428T063538Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200428/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=a711910c27b3acdd80538f74a13e164f76fb10316a2fdf83c984a59f6f4c60bc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"cluster_name":"218497580724:kaizen","status":"green","timed_out":false,"number_of_nodes":7,"number_of_data_nodes":4,"discovered_master":true,"active_primary_shards":4,"active_shards":10,"relocating_shards":0,"initializing_shards":0,"unassigned_shards":0,"delayed_unassigned_shards":0,"number_of_pending_tasks":0,"number_of_in_flight_fetch":0,"task_max_waiting_in_queue_millis":0,"active_shards_percent_as_number":100.0}'
  recorded_at: Tue, 28 Apr 2020 06:35:39 GMT
[...]
- request:
    method: get
    uri: https://search-kaizen-bnz2vfctyqunfmcvryeiw7pfx4.us-west-2.es.amazonaws.com/_cluster/stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20200428T065325Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIATFX3YP22KDAJ6MOJ/20200428/us-west-2/es/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=ca97c1ae055a1080d0a119d079489e0a25ce05833fb18aa4f02153b94f2090c6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_nodes":{"total":7,"successful":7,"failed":0},"cluster_name":"218497580724:kaizen","cluster_uuid":"l0iW_jwWQUiqyZh6c1VcRQ","timestamp":1588056806205,"status":"green","indices":{"count":4,"shards":{"total":10,"primaries":4,"replication":1.5,"index":{"shards":{"min":2,"max":4,"avg":2.5},"primaries":{"min":1,"max":1,"avg":1.0},"replication":{"min":1.0,"max":3.0,"avg":1.5}}},"docs":{"count":13127,"deleted":0},"store":{"size_in_bytes":13740612},"fielddata":{"memory_size_in_bytes":0,"evictions":0},"query_cache":{"memory_size_in_bytes":0,"total_count":0,"hit_count":0,"miss_count":0,"cache_size":0,"cache_count":0,"evictions":0},"completion":{"size_in_bytes":0},"segments":{"count":29,"memory_in_bytes":166738,"terms_memory_in_bytes":111251,"stored_fields_memory_in_bytes":10848,"term_vectors_memory_in_bytes":0,"norms_memory_in_bytes":4224,"points_memory_in_bytes":1731,"doc_values_memory_in_bytes":38684,"index_writer_memory_in_bytes":0,"version_map_memory_in_bytes":0,"fixed_bit_set_memory_in_bytes":432,"max_unsafe_auto_id_timestamp":-1,"file_sizes":{}}},"nodes":{"count":{"total":7,"coordinating_only":0,"data":4,"ingest":4,"master":3},"versions":["7.4.2"],"os":{"available_processors":14,"allocated_processors":14,"names":[{"count":7}],"pretty_names":[{"count":7}],"mem":{"total_in_bytes":115582222336,"free_in_bytes":11202809856,"used_in_bytes":104379412480,"free_percent":10,"used_percent":90}},"process":{"cpu":{"percent":0},"open_file_descriptors":{"min":1446,"max":1546,"avg":1487}},"jvm":{"max_uptime_in_millis":36644497,"mem":{"heap_used_in_bytes":2260878384,"heap_max_in_bytes":66449965056},"threads":944},"fs":{"total_in_bytes":64452354048,"free_in_bytes":56954707968,"available_in_bytes":56837267456},"network_types":{"transport_types":{"com.amazon.opendistroforelasticsearch.security.ssl.http.netty.OpenDistroSecuritySSLNettyTransport":7},"http_types":{"filter-jetty":7}},"discovery_types":{"zen":7},"packaging_types":[{"flavor":"oss","type":"tar","count":7}]}}'
  recorded_at: Tue, 28 Apr 2020 06:53:26 GMT
recorded_with: VCR 5.1.0
