h1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: fit-content;
}

.activityBox {
  background-color: white;
  border-radius: .5em;
  margin-right: 2em;
  padding-top: .3em;
  padding-bottom: .3em;
  text-align: center;
  box-shadow: 0 0 5px 3px rgba(211, 211, 211, 0.5);
}

.activityBox > p {
  margin-bottom: .25em;
}

.questionBox {
  background-color: white;
  border-radius: .5em;
  padding-top: .3em;
  padding-bottom: .3em;
  box-shadow: 0 0 5px 3px rgba(211, 211, 211, .5);
}

.questionContent {
  background-color: rgba(244, 244, 244, 1);
  border-radius: .5em;
  padding: .5em;
  margin-bottom: .75em;
}

.questionBoxInfo {
  display: inline;
}

.questionBoxSpacer {
  display: inline;
  margin-right: .5em;
  margin-left: .5em;
}

.questionBox a {
  text-decoration: none;
  color: #ef3852;
}

.questionBox a:hover {
  text-decoration: underline;
}
