.profileCenterText {
  text-align: center;
}

.card-spacing {
  margin-bottom: 2em;
}

.profile-info-space {
  margin-bottom: 2em;
}

.inline-header {
  display: inline-flex;
  margin-top: .5em;
  margin-bottom: .5em;
}

.recent-activity-row {
  margin-top: 2em;
}

.logo-block {
  padding-left: 2em;
}

#recent-activity-h4 {
  margin-top: 2em;
}

#profile-spacer-div {
  margin-bottom: 2em;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}

#profileSpacer {
  border-radius: 2em;
  overflow: hidden;
  width: fit-content;
}


