.kaizenTitle {
  margin-bottom: .5em
}

.search-block-position {
  margin-top: 20vh;
}

.searchButton {
  width: 10em;
  margin-top: 1em;
  color: #343a40;
  background-color: #12f1fc;
  border-color: #12f1fc;
}

.searchPosition {
  display: flex;
  align-items: center;
  justify-content: center;
}


.submitButton {
  width: 10em;
  margin-top: 1em;
  color: #343a40;
  background-color: #12f1fc;
  border-color: #12f1fc;
}

.submitButton:hover {
  width: 10em;
  margin-top: 1em;
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}
.kaizen-position {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .5em;
}
