<h2> Question: <%= @question.content %></h2>
<h3> Answer: <%= @answer.content %> </h3>


<p> Leave your comment here </p>

<%= form_tag update_answer_comment_path, method: :patch do %>
  <%= render 'partials/comments' %>
<% end %>
